doctype html
html
  head
    meta(charset="utf-8")
    title= title
    link(rel='stylesheet', href='http://lab.hakim.se/reveal-js/css/theme/default.css' id=theme)
    link(rel='stylesheet', href='http://lab.hakim.se/reveal-js/css/reveal.min.css' id=theme)
    script(src="http://lab.hakim.se/reveal-js/js/reveal.min.js")
  body
    block content